<!DOCTYPE html>
<html ng-app="flickr-angular">
  <head>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.2.0-dist/css/bootstrap.min.css"/>
    <script type="text/javascript" src="libs/angular/angular.min.js"></script>
    <script type="text/javascript" src="libs/node-flickrapi-master/browser/flickrapi.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body class="list-group" ng-controller="ImageController as image">
    <header>
      <h1 class="text-center">Flickr search</h1>
      <h2 class="text-center">Made with Angular.js</h2>
    </header>
    <div class="list-group-item" ng-repeat="photo in
                                            image.photos.photo">

      <h3>Title: {{photo.title}}
        <em class="pull-right">Owner: {{photo.owner}}</em>
      </h3>

      <section ng-show="image.photos.photo.length">
        Picture gets shown here
        <!-- <img ng-src="{{product.images[0]}}" /> -->
        <!-- <ul class="list-inline thumbs"> -->
        <!--   <li class="thumbnail" ng-repeat="image in product.images"> -->
        <!--     <img ng-src="{{image}}" /> -->
        <!--   </li> -->
        <!-- </ul> -->
      </section>

    </div>
  </body>
</html>
